*{
    padding: 0;
    margin: 0;
}

#container{
    width: 94%;
    margin: 3%;
}

#content-container{
    width: 100%;
    text-align: center;
}

h1{
    margin-bottom: 2%;
}

#startButton{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 4em;
    padding: 5%;
}

.stepButton{
    background-color: rgb(204, 201, 201);
    width: 25%;
    padding: 1%;
    margin: 2%;
    font-size: 1em;
    text-align: center;
    transition: opacity 3s, top 2s;

}

#steps-container{
    width: 100%;
    text-align: left;
    height: 65vh;
    overflow: hidden;
    position: relative;
}

h2{
    margin-bottom: 1.5%;
}

.step{
    width: 96%;
    padding: 2%;
    background-color: rgb(145, 218, 228);
    top: 200px;
    position: absolute;
    opacity: 0;
    transition: opacity 2.5s, top 2s;
}

/*View for tablet*/
@media (min-width: 479px) {
    body{
        background-color: rgb(134, 142, 167);
    }

    #container{
        width: 80%;
        padding: 2%;
        margin: auto;
        background-color: white;
        height: 97vh;
    }

    #content-container{
        width: 80%;
        margin: auto;
    }

    h1{
        font-size: 3em;
    }

    #steps-container{
        height: 60vh;
    }
    
    #startButton{
        font-size: 5em;
        padding:5%
    }

    .step h2 {
        font-size: 2em;
    }

    .step p{
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif
    }
}
