*{
    padding: 0;
    margin: 0;
}

#container{
    width: 94%;
    margin: 3%;
}

#content-container{
    width: 100%;
    text-align: center;
}

#masthead{
    width:100%;
    height: auto;
    margin-bottom: 5%;
}

#startButton{
    width: 100%;
    background-color: rgb(64, 108, 241);
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px rgb(70, 68, 68);
    padding: 5%;
    border-radius: 20px;
    top: 0;
    position: absolute;
    transition: opacity 2.5s, top 2s;
}

#startButton h2{
    font-family: 'Times New Roman', Times, serif;
}

.stepButton{
    background-color: rgb(204, 201, 201);
    width: 10%;
    padding: 1%;
    margin: 2%;
    font-size: 1.3em;
    text-align: center;
    transition: opacity 3s, top 2s;
    border-radius: 25px;

}

#steps-container{
    width: 100%;
    text-align: left;
    height: 40vh;
    overflow: hidden;
    position: relative;
}

h2{
    margin-bottom: 1.5%;
}

.step{
    width: 96%;
    padding: 2%;
    top: 200px;
    position: absolute;
    opacity: 0;
    transition: opacity 2.5s, top 2s;
    color: white;
}

.step h2{
    color: rgba(255, 255, 0, 0.822)
}

.section1{
    background-color: rgba(165, 42, 42, 0.856);
}

.section2{
 background-color: rgb(75, 102, 107);
}

.section3{
 background-color: rgb(151, 128, 173);
}

.section4{
 background-color: rgb(90, 74, 104);
}

/*View for tablet*/
@media (min-width: 479px) {
    body{
        background-color: rgb(105, 139, 243);
    }

    #container{
        width: 80%;
        padding: 2%;
        margin: auto;
        background-color: white;
        height: 97vh;
    }

    #content-container{
        width: 80%;
        margin: auto;
    }

    #steps-container{
        height: 35vh;
    }
    
    #startButton{
        font-size: 2em;
        padding:5%
    }

    .step h2 {
        font-size: 2em;
    }

    .step p{
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif
    }

    .stepButton{
        font-size: 2em;
    }
}

@media only screen (min-device-width: 479px) and (max-device-width: 1024px) and (orientation:landscape) {
    #steps-container{
        height: 40vh;
    }
}

/*View for tablet*/
@media (min-width: 1000px) {
    #container{
        width: 70%;
    }

    #content-container{
        width:60%;
    }

    #startButton{
        font-size: 2.5em;
    }

    #steps-container{
        height: 30%;
    }

    .stepButton{
        padding: 0.5%;
    }
}
